{% extends 'base.html' %}

{% block content %}
    <h1>{{ blog.title }}</h1>
    <h2>{{ blog.subtitle }}</h2>
    <img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="max-width: 100%;">
    <p><strong>Autor:</strong> {{ blog.author.username }}</p>
    <p><strong>Categoría:</strong> {{ blog.get_category_display }}</p>
    <p><strong>Fecha de Estreno:</strong> {{ blog.release_date }}</p>
    <p><strong>Género:</strong> {{ blog.genre }}</p>
    <p><strong>Calificación:</strong> {{ blog.rating }}</p>
    <p>{{ blog.body }}</p>
    
    {% if user.is_staff %}
        <a href="{% url 'blog_update' blog.id %}" class="btn">Editar</a>
        <a href="{% url 'blog_delete' blog.id %}" class="btn">Eliminar</a>
    {% endif %}
    <a href="{% url 'blog_list' %}" class="btn">Volver</a>
{% endblock %}
